<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/style.css/" />
  </head>
  <body>
    <div class="controller">
      <a href="/f" class="button button--forwards">Forwards</a>
      <a href="/b" class="button button--backwards">Backwards</a>
      <a href="/s" class="button button--stop">Stop</a>
    </div>
  </body>
</html>
